.m-main{
  .left{position:absolute;top:0;left:0;bottom:0;padding-top:100px;width:300px;background-color: white;}
  .right{position:absolute;top:0;right:0;bottom:0;left:380px;padding-top:30px;}
}
.f-cf{
  &:after{content:'';display:block;height:0;clear:both;visibility:hidden;}
}
